#email-address {
  font-size: 10px;
}
#icon-container{
	margin-top: 4em;
	text-align:center;
}
#buttons{
	margin-top: 1em;
}
#buttons a{
	margin: 3em 0;
}
.centered{
	text-align: center;
}
.centeredAudio{
	margin-top: 4em;
	text-align: center;
}
#map_canvas { height: 310px; width: 100%; margin: 0px; padding: 0px }
.crosshair {position: absolute; top: 120px; left: 0px;}
.left, .right, .top, .bottom {position: relative; background-color: #000; float: left;}
.left, .right {height: 10px;}
.top, .bottom {width: 10px;}
.top    {top: 0px; left: 155px; height: 50px}
.left   {top: 85px; left: 15px; width: 50px}
.right  {top: 85px; left: 185px; width: 50px}
.bottom {top: 120px; left: 45px; height: 50px}